body {
  font-family: serif;
  background-color: rgb(146, 237, 237);
}

h1 {
  color: rgba(131, 6, 248, 0.537);
  text-align: center;
  font-size: 40px;
}

select {
  font-size: 18px;

  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

h2 {
  color: rgba(76, 12, 137, 0.961);
  margin: 0 0 5px;
  font-size: 30px;
}

footer {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: rgb(81, 241, 235);
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed grey;
}

.city:last-child {
  border: none;
}

.date {
  color: rgb(124, 13, 228);
  font-size: 25px;
  display: block;
  opacity: 0.7;
}

.time {
  color: rgb(84, 30, 135);
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 26px;
  vertical-align: middle;
  line-height: 36px;
}
